.section-cups {
    height: 472px;
    background-color: rgb(255, 245, 246); position: relative;
    z-index: 0;
}

.features-icecream {
    display: flex;
    justify-content: center;
}

.numberseven,
.numberone,
.numbereight {
    color: var(--red);
    font-family: var(--titan-family);
    line-height: 66px;
    letter-spacing: 0.04em;
    text-align: right;
    font-size: 58px;
    height: 65px;
    top: 2604px;
    justify-content: center;
}


.text-cups1 {
    font-family: var(--dm-family);
    font-weight: 700;
    line-height: 28.16px;
    letter-spacing: 0.02em;
    width: 288px;
    height: 79px;
}

.text-cups2 {
    font-family: var(--dm-family);
    font-weight: 700;
    line-height: 28.16px;
    letter-spacing: 0.02em;
    width: 317px;
    height: 58px;
}

.text-cups3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 28.16px;
    letter-spacing: 0.02em;
    width: 288px;
    height: 82px;
}
.icons-cream {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2514px;
}
    .icecream-icons1{padding-left: 7px;}
.icecream-icons2{
    padding-left: 115px;
}

.icecream-icons3 {
    padding-left: 80px;
    padding-right: 96px;
}


.icecream-set1::before {
    content: "";
    /* This is necessary for the pseudo-element to work */
    display: block;
    /* Make it a block element */
    width:98px;
    /* Set the width */
    height: 65px;
    /* Set the height */
    background-image: url('/src/images/svg/symbol-defs.svg#icon-svglapte');
    /* URL of your image */
    background-size: cover;
    /* Cover the area of the pseudo-element */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
}
.icecream-set2::before{ content: "";
    display: block;
width: 147px;
height: 65px;
background-image:url('/src/images/svg/symbol-defs.svg#icon-svgapples');
background: cover;
background-repeat: no-repeat;}
.icecream-set3::before { content: "";
    display: block;
width: 147px;
height:65px;
background-image: url('/src/images/svg/symbol-defs.svg#icon-svginima');
background:cover;
background-repeat: no-repeat;}