.numberseven,
.numberone,
.numbereight {
    color:var(--red);
    font-family:var(--titan-family);
    line-height: 66px;
    letter-spacing: 0.04em;
    text-align: right;
    font-size: 58px;
    height: 65px;
    top: 2604px;
    justify-content: center;
}

.text-cups1 {
    font-family:var(--dm-family);
    font-weight: 700;
    line-height: 28.16px;
    letter-spacing: 0.02em;
}

.text-cups2 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28.16px;
    letter-spacing: 0.02em;
}

.text-cups3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28.16px;
    letter-spacing: 0.02em;
}

.icecream-set1 {
    position: absolute;
    width: 288px;
    height: 163px;
    top: 2604px;
    left: 16px;
}

.icecream-set2 {
    position: absolute;
    width: 288px;
    height: 163px;
    top: 2604px;
    left: 419px;
}

.icecream-set3 {
    position: absolute;
    width: 317px;
    height: 163px;
    left: 816px;
    top: 2604px;
}