.section-cups {
    height: 472px;
    background-color: rgb(255, 245, 246); position: relative;
    z-index: 0;
}

.features-icecream {
    display: flex;
    justify-content: center;
}

.numberseven,
.numberone,
.numbereight {
    color: var(--red);
    font-family: var(--titan-family);
    line-height: 66px;
    letter-spacing: 0.04em;
    text-align: right;
    font-size: 58px;
    height: 65px;
}


.text-cups1 {
    font-family: var(--dm-family);
    font-weight: 700;
    line-height: 28.16px;
    letter-spacing: 0.02em;
    width: 288px;
    height: 79px;
}

.text-cups2 {
    font-family: var(--dm-family);
    font-weight: 700;
    line-height: 28.16px;
    letter-spacing: 0.02em;
    width: 317px;
    height: 58px;
}

.text-cups3 {
    font-family: var(--dm-family);
    font-weight: 700;
    line-height: 28.16px;
    letter-spacing: 0.02em;
    width: 288px;
    height: 82px;
}
.icons-cream {
    position: absolute;
    width: 50px;
    height: 50px;
}

.icecream-icons1 {
    left: 7px;
}

.icecream-icons2 {
    left: 416px;
}

.icecream-icons3 {
    left: 816px;
}
