.cont {
   background: rgb(255, 245, 246);
   max-width: 100%;
   margin-top: 362px;
   margin-bottom: -280px;

}

.container {
   width: 480px;
}

.contacts {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;

}

.card-contacts {
   position: relative;
   top: -310px;
   z-index: 1;
}

.contacts h1 {
   position: absolute;
   left: -9999px;
}

.categories {
   font-family: var(--dm-family);
   font-weight: 500;
   font-size: 12px;
   line-height: 1.86;
   letter-spacing: 0.04em;
   text-align: center;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 6px;
   width: 80px;
   height: 16px;
   background: var(--beige);
   margin-top: 40px;
   margin-left: 40px;
   margin-bottom: 8px;
   color: var(--white);
}

.categorie {
   font-family: var(--dm-family);
   font-weight: 500;
   font-size: 12px;
   line-height: 1.86;
   letter-spacing: 0.04em;
   text-align: center;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 6px;
   width: 130px;
   height: 16px;
   background: var(--green);
   margin-top: 40px;
   margin-left: 40px;
   margin-bottom: 8px;
   color: var(--white);
}

.card-contacts {
   border-radius: 24px;
   width: 280px;
   height: auto;
   box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
   background: var(--white);
}

.card-contacts p {
   color: var(--gray);
   margin-right: 40px;
   margin-left: 40px;
}

.card-contacts h4,
p {
   margin-left: 40px;
}

.card-contacts a {
   color: var(--gray);

}

.card-contacts .agenda a {
   text-decoration: none;
}

a:active,
a:hover {
   color: var(--red);
}

.the_time {
   font-family: var(--dm-family);
   font-weight: 500;
   font-size: 12px;
   line-height: 1.86;
   color: var(--pink);
}

.divider {
   margin-left: 40px;
   width: 200px;
}

.date {
   font-family: var(--dm-family);
   font-weight: 500;
   font-size: 12px;
   line-height: 1.86;
   letter-spacing: 0.04em;
   color: var(--black);
   margin-left: 40px;
}

.agenda {
   font-family: var(--dm-family);
   font-weight: 500;
   font-size: 12px;
   line-height: 1.83;
   color: var(--gray);
   margin-top: 24px;
   margin-bottom: 40px;

}

.card-contacts h4 {
   font-family: var(--dm-family);
   font-weight: 500;
   font-size: 12px;
   line-height: 1.86;
   letter-spacing: 0.04em;
   color: var(--black);
   margin-top: 20px;

   margin-bottom: 8px;
}

.card-contacts p {
   font-family: var(--dm-family);
   font-weight: 500;
   font-size: 11px;
   line-height: 1.83;
   letter-spacing: 0.04em;
   color: var(--gray);
}

@media screen and (min-width: 768px) {
   .cont {
      margin-top: 378px;
      margin-bottom: -220px;
   }

   .container {
      width: 768px;

   }

   .contacts {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 15px;

   }

   .card-contacts {
      top: -280px;
      width: 224px;
      height: auto;
      margin-left: 5px;
   }

   .divider {
      width: 160px;
      margin-left: 32px;
   }

   .card-contacts h4 {
      margin-top: 32px;
      margin-left: 32px;
   }

   .card-contacts p {
      margin-left: 32px;
      font-size: 14px;
   }

   .date {
      font-size: 14px;
      margin-left: 32px;
   }

   .the_time {
      font-size: 14px;
   }

   .agenda {
      font-size: 14px;
      margin-top: 32px;
      margin-bottom: 40px;
   }

   .categorie {
      margin-left: 32px;
      font-size: 14px;

      width: 138px;
      height: 28px;
   }

   .categories {
      margin-left: 32px;
      font-size: 14px;
      width: 73px;
      height: 28px;
   }

}

@media screen and (min-width: 1200px) {
   .cont {
      margin-top: 219px;
      margin-bottom: -80px;
   }

   .container {
      width: 1200px;
   }

   .contacts {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

   }

   .card-contacts {
      position: relative;
      top: -100px;
      z-index: 1;
   }

   .contacts h1 {
      position: absolute;
      left: -9999px;
   }

   .categories {
      font-size: 16px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 6px;
      width: 73px;
      height: 28px;
      background: var(--beige);
      margin-top: 40px;
      margin-left: 40px;
      margin-bottom: 8px;
      color: var(--white);
   }

   .categorie {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 6px;
      font-size: 16px;
      width: 138px;
      height: 28px;
      background: var(--green);
      margin-top: 40px;
      margin-left: 40px;
      margin-bottom: 8px;
      color: var(--white);
   }

   .card-contacts {
      border-radius: 24px;
      width: 368px;
      height: 538px;
      box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
      background: var(--white);
   }

   .card-contacts p {
      color: var(--gray);
   }

   .card-contacts h4,
   .card-contacts p {
      margin-left: 40px;
      font-size: 16px;
   }

   .card-contacts a {
      color: var(--gray);

   }

   a:active,
   a:hover {
      color: var(--red);
   }

   .the_time {
      font-family: var(--dm-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.86;
      color: var(--pink);
   }

   .divider {
      margin-left: 40px;
      width: 268px;
   }

   .date {
      font-family: var(--dm-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.04em;
      color: var(--black);
      margin-left: 40px;
   }

   .agenda {
      font-family: var(--dm-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.83;
      color: var(--gray);
      margin-top: 32px;
   }

   .card-contacts h4 {
      font-family: var(--dm-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.04em;
      color: var(--black);
      margin-top: 32px;
      margin-bottom: 8px;
   }

   .card-contacts p {
      font-family: var(--dm-family);
      font-weight: 500;
      font-size: 15px;
      line-height: 1.83;
      letter-spacing: 0.04em;
      color: var(--gray);
   }
}