/* Responsivness Mobile devices over 480px*/

.fsection {
  background-color: rgba(255, 245, 246, 1);
  width: 100%;
}

/*Footer Section*/
.container {
  max-width: 480px;
}

/*Footer Buttons*/

.footer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*Div Buttons*/

.fbutton {
  font-family: var(--dm-family);
  font-weight: 700;
  line-height: 20px;
  width: 161.45px;
  height: 44px;
  top: 32;
  left: 78px;
  gap: 0px;
  border-radius: 22px;
  opacity: 0px;
  border: none;
  background-color: #d41443;
  color: #ffffff;
  stroke: #ffffff;
}

/*Button class*/
.footer-buttons button:hover {
  background-color: #ffffff;
  color: #d41443;
  stroke: #d41443;
}

.fsvg {
  width: 3.61px;
  height: 8px;
  margin-left: 8px;
}

/*SVG inside button*/

/*End Footer Buttons*/

/*Footer Slogan*/

.footer-slogan {
  padding-top: 40px;
}

/*Div Footer Slogan*/
.icecream {
  font-family: var(--titan-family);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.61px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-left: 22px;
  color: #ffa5ba;
}

/*Homemade Ice Cream Made*/

.passion {
  font-family: var(--titan-family);
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 400;
  line-height: 38.93px;
  letter-spacing: 0.04em;
  padding-top: 16px;
  text-align: left;
  margin-left: 20px;
  color: #d41443;
  width: 200px;
  height: 76px;
}

/*With Passion*/

/*End Footer Slogan*/

/*Footer social icons and Feel Free to Contact*/
.social-free {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 53px;
  /*fata de div slogan*/
}

/*Social-free div*/

.footer-icons {
  display: flex;
  gap: 28.24px;
  margin-bottom: 40px;
  /*fata de feel free to contact*/
}

/*Div Footer Icons*/

.footer-icons .ficon svg {
  width: 18.82px;
  height: 18.82px;
}

/*icons sizes*/

.footer-icons .ficon {
  width: 32px;
  height: 32px;
  background-color: var(--icons-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*icons stilisation*/

.footer-icons .ficon:hover {
  background-color: #d41443;
}

/*End Footer icons*/

/*Feel free to contact*/
.free {
  font-family: var(--dm-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 22.32px;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
  /*fata de hr*/
  text-align: right;
}

.pnumber {
  font-family: var(--dm-family);
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 22.32px;
  letter-spacing: 0.02em;
  color: #907e82;
}

.pnumber:hover {
  color: #d41443;
}

/*End of Div social-free*/

/*Copyright div*/
.copyright {
  height: 62px;
  /*de la hr pana jos*/
  margin-bottom: 4px;
}

/*Div */
.hr {
  width: 480px;
  border: 1px solid #e1e1e1;
}

.reserved {
  font-family: var(--dm-family);
  text-align: center;
  width: 150px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21.28px;
  letter-spacing: 0.02em;
  margin-left: 150px;
  color: #907e82;
}

/*end of copyright div*/

/* Responsivness Tablet and devices over 768px*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .footer-buttons {
    flex-direction: row;
    gap: 14.5px;
  }

  .fbutton {
    line-height: 20px;
    width: 161.45px;
  }

  .fsvg {
    width: 4.28px;
    margin-left: 8.4px;
  }

  /*SVG inside button*/
  .icecream {
    width: 400px;
    font-size: 26px;
    line-height: 29.77px;
    margin-left: 16px;
  }

  /*Homemade Ice Cream Made*/
  .passion {
    width: 340px;
    height: 110px;
    font-size: 48px;
    line-height: 54.96px;
    letter-spacing: 0.06em;
    padding-top: 12px;
    margin-left: 16px;
  }

  /*With Passion*/
  .social-free {
    margin-top: -119px;
  }

  .footer-icons {
    gap: 30px;
  }

  /*Div Footer Icons*/
  .footer-icons .ficon svg {
    width: 20px;
    height: 20px;
  }

  /*icons sizes*/
  .footer-icons .ficon {
    width: 34px;
    height: 34px;
  }

  /*icons stilisation*/
  .free {
    font-size: 14px;
    line-height: 26.04px;
    padding-bottom: 36px;
  }

  .pnumber {
    font-size: 14px;
    line-height: 26.04px;
  }

  .copyright {
    height: 40px;
    /*de la hr pana jos*/
  }

  /*Div */
  .hr {
    width: 768px;
  }

  .reserved {
    width: 278px;
    line-height: 26.04px;
    margin-left: 239px;
  }
}

/* Responsivness Desktop and devices over 1200px*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .footer-buttons {
    gap: 12px;
  }

  .fbutton {
    margin-top: 60px;
    margin-bottom: 120px;
    line-height: 20px;
    width: 168px;
    height: 44px;
  }

  .fsvg {
    width: 5px;
    margin-left: 13px;
  }

  .footer-slogan {
    margin-bottom: -148px;
    /*Div Footer Slogan*/
  }

  .icecream {
    width: 472px;
    font-size: 30px;
    line-height: 34.35px;
  }

  /*Homemade Ice Cream Made*/

  .passion {
    width: 505px;
    height: 66px;
    font-size: 58px;
    line-height: 66.41px;
  }

  /*With Passion*/
  .social-free {
    margin-top: 45px;
  }

  .free {
    font-size: 14px;
    line-height: 29.76px;
    padding-bottom: 60px;
  }

  .pnumber {
    font-size: 16px;
    line-height: 29.76px;
  }

  .copyright {
    height: 37px;
    /*de la hr pana jos*/
  }

  /*Div */
  .hr {
    width: 1167px;
    top: 4816px;
    left: 17px;
  }

  .reserved {
    width: 278px;
    margin-left: 452px;
  }
}