:root {
    --dm-family: "DM Sans", sans-serif;
    --titan-family: "Titan One", sans-serif;
    --red: #d41443;
    --white: #ffffff;
    --pink: #ffa5ba;
    --black: #000000;
    --beige: #f0d1a5;
    --green: #c2e297;
    --gray: #907e82;
    --background-color:#ffb8ca;
    --hover-buttons: #ecebeb;
    --icons-background: #fea5bb;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1280px;
    margin:0 auto;
}

body {
    font-family:var(--dm-family);
    font-weight:500;
    font-size:16px;
}

img {
    max-width: 100%;
    height: auto;
}

