.elipse-hero {
    width: 543px;
    height: 534px;
    background-color: var(--pink);
    border-radius: 50%;
    position: absolute;
    top:54px;
    right: 189px;
    z-index: 0;
}

.hero-right{
    background-color: var(--background-color);
    max-width:100%;
    height: 664px;
}

.women-pic {
    position: absolute;
    top:423;
    right:56;
}

.icecream-pic {
    position: absolute;
    top:108;
    right:368;
}

.cafes-elipse,.food-elipse {
 width:30px;
 height:30px;
 background-color:var(--white);
 border-radius: 50%;
 position: absolute;
 right:56px;

}

.food, .cafes {
    color:var(--white);
}

.number {
    color: var(--red);
    font-family:var(--titan-family);
    font-size: 46px;
    width:54px;
    height:53px;
}

.duo{
    flex-direction: column;
        display: flex;
        align-items: flex-end;
        gap: 2px;
        z-index: 1;
        position: relative;
        top:75px;
        right: -50px;
}


