.elipse-hero {
    height: 543px;
    width: 543px;
    background-color: var(--pink);
    border-radius: 50%;
    position: absolute;
    top:54;
    left:557;
    z-index: 0;
}

.hero-right{
    background-color: rgba(255, 184, 202,1);
    max-width: 1280px;
    height:664px;
    position:relative;
    left:-40px;
    margin:0 auto;
}

.con {
    position: absolute;
    width: 237px;
    height: 557px;
    top:108;
    right:328;
}

.women {
    position: absolute;
    width: 304px;
    height: 241px;
    top:423px;
    right:16px;
}

.cafes-elipse {
 width:30px;
 height:30px;
 background-color:var(--white);
 border-radius: 50%;
 position: absolute;
 top:152px;
 right:16px;
 z-index: 1;
}

.food-elipse{
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: 244px;
    right: 16px;
    z-index: 1;
}

.food, .cafes {
    color:var(--white);
}

.number {
    color: var(--red);
    font-family:var(--titan-family);
    font-size: 46px;
    width:54px;
    height:53px;
    letter-spacing: 0.04em;
}

.duo{
    flex-direction: column;
        display: flex;
        gap: 2px;
        z-index: 2;
        align-items: self-end;
        position: absolute;
}

.cafes-group .duo{
 top:152;
 right:34;
}

.food-group .duo{
    top:247;
    right:34;
}