.cup-of-milk {
    width: 213px;
    height: 216px;
    z-index: 1;
    transition: transform var(--transition-hover);
}

.cup-of-milk:hover {
    transform: var(--transform-scale);
}

.arrow-right {
    width: 26px;
    height: 26px;
    transition: transform var(--transition-hover);
}

.arrow-right:hover {
    transform: var(--transform-scale);
}

.word {
    color: var(--red);
    font-family: var(--titan-family);
}

.button-1 {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--red);
    border-radius: 20px;
    width: 107px;
    height: 40px;
    border: none;
    margin-right: 12px;
    margin-left: 16px;
}

.button-2 {
    background-color: var(--white);
    border-color: var(--white);
    border-radius: 20px;
    width: 138px;
    height: 40px;
    border: none;
    color: var(--red);
}

.button-1:hover,
.button-2:hover,
.button-1:focus,
.button-2:focus {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
}

.title {
    font-family: var(--titan-family);
    color: var(--white);
    font-weight: 700;
    width: 277px;
    height: 137px;
    margin-left: 16px;
    margin-top: 60px;
}

.paragraph {
    font-family: var(--dm-family);
    color: var(--white);
    width: 200px;
    height: 78px;
}

.p-arrow {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.milk-p-arrow {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    margin-top: 40px;
    margin-left: 16px;
}