.elipse-hero {
    max-width: 543px;
    height: 534px;
    background-color: var(--pink);
    border-radius: 50%;
    position: absolute;
    top:54px;
    right: 189px;
    z-index: 0;
}

.hero-right{
    background-color: var(--background-color);
    height: 664px;
}

.women-pic {
    position: absolute;
    max-width: 304px;
    top:423;
    right:56;
}
.icecream-pic {
    position: absolute;
    max-width: 236px;
    top:108;
    right:368;
}

.cafes-elipse,.food-elipse {
 max-width:30px;
 height:30px;
 background-color:var(--white);
 border-radius: 50%;
 position: absolute;
 right:16px;
}

.food, .cafes {
    color:var(--white);
}

.number {
    color: var(--red);
    font-family:var(--titan-family);
    font-size: 46px;
    max-width:54px;
    height:53px;
}

.duo{
    flex-direction: column;
        display: flex;
        align-items: flex-end;
        gap: 2px;
        z-index: 1;
        position: relative;
        top:75px;
        right:16px;
}


