.cup-of-milk {
    width: 213px;
    height: 216px;
    z-index: 1;
    transition: transform var(--transition-hover);
    cursor: pointer;
}

.cup-of-milk:hover {
    transform: var(--transform-scale);
}

.arrow-right {
    width: 26px;
    height: 26px;
    transition: transform var(--transition-hover);
    cursor: pointer;
}

.arrow-right:hover {
    transform: rotate(270deg);
}

.button-1 {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--red);
    border-radius: 20px;
    border: none;
    position: relative;
    z-index: 2;
    width: 62.4px;
    height: 24px;
    text-align: center;
    font-family: var(--dm-family);
    font-size: 8px;
    line-height: 10.42px;
    top: 120px;
    left: 20px;
    margin-right: 8px;
}

.button-2 {
    background-color: var(--white);
    border-color: var(--white);
    border-radius: 20px;
    width: 82.8px;
    height: 24px;
    border: none;
    color: var(--red);
    position: relative;
    z-index: 2;
    font-family: var(--dm-family);
    text-align: center;
    font-size: 8px;
    line-height: 10.42px;
    top: 120px;
    left: 20px;
}

.button-1:hover,
.button-2:hover,
.button-1:focus,
.button-2:focus {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
}

.title {
    font-family: var(--titan-family);
    color: var(--white);
    font-weight: 400;
    font-size: 26px;
    line-height: 29.77px;
    width: 218px;
    height: 106px;
    top: 120px;
    left: 20px;
    position: relative;
    z-index: 3;
}

.word {
    color: var(--red);
    font-family: var(--titan-family);
    font-size: 48px;
    line-height: 46.32px;
}


.paragraph {
    font-family: var(--dm-family);
    color: var(--white);
    width: 200px;
    height: 78px;
}

.p-arrow {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.milk-p-arrow {
    display: none;
}

/* Stilizare tableta si device-uri peste 768px */
@media screen and (min-width: 768px) {
    .milk-p-arrow {
        display: flex;
        flex-direction: row;
        align-items: first baseline;
        margin-top: 20px;
        margin-left: 32px;
    }

    .title {
        font-size: 22px;
        line-height: 25.19px;
        letter-spacing: 0.04em;
        width: 162px;
        height: 80px;
        top: 20px;
        left: 32px;
    }

    .word {
        font-size: 34px;
        line-height: 30.77px;
        letter-spacing: 0.04em;
    }

    .button-1 {
        width: 62.4px;
        height: 24px;
        font-size: 8px;
        line-height: 10.42px;
        left: 32px;
        top: 20px;
    }

    .button-2 {
        width: 82.8px;
        height: 24px;
        font-size: 8px;
        line-height: 10.42px;
        left: 24px;
        top: 20px;
    }

    .cup-of-milk {
        width: 152px;
        height: 154px;
    }

    .arrow-right {
        width: 18px;
        height: 18px;
    }

    .p-arrow {
        gap: 7px;
    }

    .paragraph {
        width: 114px;
        height: 48px;
        font-size: 8px;
        line-height: 12px;
    }
}

/* Stilizare desktop si device-uri peste 1200px */

@media screen and (min-width: 1200px) {

    .title {
        width: 277px;
        height: 137px;
        left: 16px;
        top: 60px;
        font-size: 38px;
        line-height: 43.51px;
    }

    .word {
        font-size: 58px;
        line-height: 52.49px;
    }

    .button-1 {
        width: 107px;
        height: 40px;
        border: none;
        font-size: 14px;
        line-height: 18.23px;
        left: 16px;
        top: 80px;
    }

    .button-2 {
        width: 138px;
        height: 40px;
        border: none;
        font-size: 14px;
        line-height: 18.23px;
        left: 16px;
        top: 80px;
    }

    .milk-p-arrow {
        display: flex;
        flex-direction: row;
        align-items: first baseline;
        margin-top: 90px;
        margin-left: 16px;
    }

    .cup-of-milk {
        width: 213px;
        height: 216px;
    }

    .arrow-right {
        width: 26px;
        height: 26px;
    }

    .p-arrow {
        gap: 20px;
    }

    .paragraph {
        width: 200px;
        height: 78px;
        font-size: 14px;
        line-height: 19.6px;
    }
}