.natural {
    margin: 0;
    font-family: var(--titan-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 34.35px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--pink);
}

.products {
    margin: 0;
    font-family: var(--titan-family);
    font-size: 58px;
    font-weight: 400;
    line-height: 66.41px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--red);
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
    margin-top: 300px;
    margin-bottom: 60px;
}

.icecream-pink,
.icecream-yellow,
.icecream-green {
    height: 535px;
    border: transparent;
    border-radius: 20px;
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icecream-pink {
    background-color: var(--pink);
}

.icecream-yellow {
    background-color: var(--beige);
}

.icecream-green {
    background-color: var(--green);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    /* margin: 0 80px; */
}

.pic {
    margin-top: -240px;
    width: 394px;
    height: 368px;
}

.products-headline {
    color: var(--white);
    font-family: var(--titan-family);
    font-size: 30px;
    line-height: 22.9px;
    letter-spacing: 0.04em;
    margin-top: 32px;
}

.products-details {
    font-family: var(--dm-family);
    font-weight: 700;
    line-height: 24.64px;
    letter-spacing: 0.04em;
    color: var(--white);
    height: 134px;
    font-size: 16px;
}

.section-products-headline {
    margin-top: 60px;
    margin-bottom: -46px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.white-three-dots {
    margin-top: 32px;
    margin-bottom: 32px;
}

.arrow-right-products {
    margin-bottom: 32px;
}

// Transitions
.pic:hover {
    transition: transform var(--transition-hover);
    transform: var(--transform-scale);
}

.content:hover {
    transition: transform var(--transition-hover);
    transform: var(--transform-scale);
    transform: rotate(360deg);
}

/* Responsve */
@media only screen and (min-width: 320px) {
    .items {
        flex-wrap: wrap;
    }

    .icecream-pink,
    .icecream-yellow {
        margin-bottom: 210px;
    }
}

@media screen and (max-width: 768px) {

    .icecream-pink,
    .icecream-yellow,
    .icecream-green {
        height: 504px;
        width: 289px;
    }

    .pic {
        width: 241px;
        height: 224px;
        margin-top: -137px;
    }

    .items {
        margin-top: 203px;
    }

    .products-details {
        width: 188px;
        height: 199px;
    }
}