.carousel-inner{
    display: flex;
    justify-content: center;
}
.carousel-inner h3{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    text-align: center;
    color: var(--black);
}
.carousel-indicators {
    top: 340px;
}
.carousel-indicators li{
    background-color: #d9d9d9 !important;
}
.carousel-indicators .active{
    background-image: url(../images/customer-review/House_carousel.svg);
    background-color: transparent !important;
    background-size: cover;
    border-radius: 0%;
}
.carousel-image {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.carousel-image img{
    border: 1px solid var(--black);
    border-radius: 44px;
    width: 85px;
    height: 85px;
}
.carousel-text-container{
    background-color: #fafafa;
    width: 968px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-text-container p{
    padding: 1px;
}
.carousel-text{
    width: 750px;
    text-align: center;
}
.quatation {
    background-image: url(../images/customer-review/quatation_carousel.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0%;
    width: 54px;
    height: 40px;
    position: relative;
    bottom: 25px;
    right:30px;
}
.stroke{
    position: absolute;
    width: 860px;
    height: 2px;
    fill: none;
    stroke: #E1E1E1;
}
.first-stroke{
    top: 145px;
    left: 50px;
}
.second-stroke{
    top: 175px;
    left: 50px;
}
.carousel-text-container p{
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--black);
}
.central-dots{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin:16px 0px 16px 0px;
}
.dot{
    height: 5px;
    width: 5px;
    background-color: #c7133e;
    border-radius: 50%;
    display: inline-block;
    
}