.header-container {
    background-color: var(--background-color);
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    z-index: 1;
  }
  
  .nav {
    display: flex;
    width: 100%;
    gap: 35px;
  }
  