.cup-of-milk {
    margin-right: 400px;
}

.arrow-right {
    margin-left: -315px;
}

.word {
    color: var(--red);
    font-family: "Titan One";
}

.button-1 {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
    border-radius: 20px;
    width: 107px;
    height: 40px;
    border: none;
    margin-right: 12px;
}

.button-2 {
    background-color: var(--white);
    border-color: var(--white);
    border-radius: 20px;
    width: 138px;
    height: 40px;
    border: none;
}

.title {
    font-family: var(--titan-family);
    color: var(--white);

    font-weight: 700;
    width: 277px;
    height: 137px;
    text-decoration: none;

}

.paragraph {
    font-family: var(--dm-family);
    color: var(--white);
    margin-left: 300px;
    margin-top: -155px;
}