@import './common';
@import './example';
@import './testare.scss'

:root {
    text-font-family: "DM Sans", sans-serif;
}

.cup-of-milk{
margin-right: 400px;
}

.arrow-right{
    margin-left: -315px;
}

.word{
    color:#D41443;
    font-family:"Titan One";
}

.button-1{
    background-color: #D41443;
    border-color: #D41443;
    color:#ffff;
    border-radius: 20px;
    width: 107px;
    height: 40px;
    border: none;
    margin-right: 12px;
}

.button-2{
    background-color: #ffff;
    border-color: #ffff;
    border-radius: 20px;
    width: 138px;
    height: 40px;
    border: none;
}

.title {
    font-family: "Titan One";
    color:#ffff;
    
    font-weight: 700;
    width: 277px;
    height: 137px;
    text-decoration: none;
    
}

.paragraph{
    font-family: "DM Sans";
    color:#ffff;
    margin-left: 300px;
    margin-top: -155px;
}