<section id="about" class="section-cups">
  <h1 class="hidden-title">Titlul ascuns pentru crawler-uri</h1>
  <div class="container">
    <div class="features-icecream">
      <div class="icecream-panel">
        <div class="icons-cream">
          <svg class="icecream-icons1">
            <use href="/src/images/svg/symbol-defs.svg#icon-svglapte"></use>
          </svg>
        </div>
        <div class="icecream-set1">
          <span class="numberseven">721</span>
          <p class="text-cups1">
            At 721 Cow, we're passionate about producing the highest quality ice
            cream possible.
          </p>
        </div>
      </div>
      <div class="icecream-panel">
        <div class="icons-cream">
          <svg class="icecream-icons2">
            <use href="/src/images/svg/symbol-defs.svg#icon-svgapples"></use>
          </svg>
        </div>
        <div class="icecream-set2">
          <span class="numberone">16Kg</span>
          <p class="text-cups2">
            You can be sure you're getting a scoop of the freshest ice cream
            around.
          </p>
        </div>
      </div>
      <div class="icecream-panel">
        <div class="icons-cream">
          <svg class="icecream-icons3">
            <use href="/src/images/svg/symbol-defs.svg#icon-svginima"></use>
          </svg>
        </div>
        <div class="icecream-set3">
          <span class="numbereight">84</span>
          <p class="text-cups3">
            We use only the freshest, locally-sourced ingredients to make our 84
            unique and delicious flavors.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>