<section id="contact" class="cont">
  <div class="container contacts">
    <h1>Contacts</h1>
    <section class="card-contacts">
      <h3 class="categories">CAFE</h3>
      <h4>Chicago</h4>
      <p>
        Handcrafted coffee, baked goods,<br />
        and premium ice cream.
      </p>
      <img class="divider" src="images/contacts/divider.png" alt="|" />

      <h3 class="date">
        Monday - Friday <br />
        <span class="the_time"> 06:00 AM - 10:00 PM</span> <br />Saturday -
        Sunday
        <br />
        <span class="the_time"> 06:00 AM - 10:00 PM</span>
      </h3>

      <img class="divider" src="images/contacts/divider.png" alt="|" />

      <ul class="agenda">
        <li><a href="tel:+61(0) 383  766 284 ">+61(0) 383 766 284 </a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </section>

    <section class="card-contacts">
      <h3 class="categorie">FOOD TRUCK</h3>
      <h4>Los Angeles</h4>
      <p>
        Fusion cuisine and refreshing <br />
        ice cream made with passion.
      </p>
      <img class="divider" src="images/contacts/divider.png" alt="|" />

      <h3 class="date">
        Monday - Friday <br />
        <span class="the_time"> 06:00 AM - 10:00 PM</span> <br />Saturday -
        Sunday
        <br />
        <span class="the_time"> 06:00 AM - 10:00 PM</span>
      </h3>

      <img class="divider" src="images/contacts/divider.png" alt="|" />

      <ul class="agenda">
        <li><a href="tel:+61(0) 383  766 284 ">+61(0) 383 766 284 </a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </section>

    <section class="card-contacts">
      <h3 class="categories">CAFE</h3>
      <h4>New York</h4>
      <p>
        Specialty teas, artisanal pastries, <br />
        mouth-watering ice cream.
      </p>
      <img class="divider" src="images/contacts/divider.png" alt="|" />

      <h3 class="date">
        Monday - Friday <br />
        <span class="the_time"> 06:00 AM - 10:00 PM</span> <br />Saturday -
        Sunday
        <br />
        <span class="the_time"> 06:00 AM - 10:00 PM</span>
      </h3>

      <img class="divider" src="images/contacts/divider.png" alt="|" />

      <ul class="agenda">
        <li><a href="tel:+61(0) 383  766 284 ">+61(0) 383 766 284 </a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </section>
  </div>
</section>