<footer>
  <section class="fsection">
    <div class="container">
      <!--Buttons-->
      <div class="footer-buttons">
        <a href="#contact"> <button class="fbutton" type="button">
            Our Locations
            <svg class="fsvg">
              <use href="/src/images/svg/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </a>
        <button class="fbutton" type="button">
          Franchise
          <svg class="fsvg">
            <use href="/src/images/svg/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <!--Slogan-->
      <div class="footer-slogan">
        <p class="icecream">homemade ice cream made</p>
        <p class="passion">with passion</p>
      </div>
      <!--Footer social icons-->
      <div class="social-free">
        <div class="footer-icons">
          <a href="https://github.com/" target="_blank" aria-label="github-link" class="ficon">
            <svg>
              <use href="/src/images/svg/symbol-defs.svg#icon-svggit"></use>
            </svg>
          </a>
          <a href="https://telegram.org/" target="_blank" aria-label="telegram-link" class="ficon">
            <svg>
              <use href="/src/images/svg/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
          <a href="https://www.facebook.com" target="_blank" aria-label="facebook-link" class="ficon">
            <svg>
              <use href="/src/images/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <p class="free"> Feel free to contact
          <a class="pnumber" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
        </p>
      </div>
      <div class="copyright">
        <hr />
        <p class="reserved">&#169;2022 - IceCream. All Rights Reserved.</p>
      </div>
    </div>
  </section>
</footer>