<header class="header" id="header">
    <div class="container">
        <div class="header-container">
            <a href="index.html">
                <img class="header-logo" width="199" height="50" src="/src/images/header/logohero.png"
                    alt="IceCreamLogo">
            </a>

            <div class="main-nav">
                <nav>
                    <ul class="nav">
                        <li><a class="nav__link" href="header">
                                <p>Home</p>
                            </a></li>
                        <li><a class="nav__link" href="products">
                                <p>Our products</p>
                            </a></li>
                        <li><a class="nav__link" href="about">
                                <p>About us</p>
                            </a></li>
                        <li><a class="nav__link" href="howmade">
                                <p>How it's made?</p>
                            </a></li>
                        <li><a class="nav__link" href="contact">
                                <p>Contact</p>
                            </a></li>
                    </ul>
                </nav>
            </div>

            <div class="header-buttons">
                <button class="menu-toggle js-open-menu" type="button" aria-expanded="false"
                    aria-controls="mobile-menu">
                    <svg class="menu-toggle__icon" width="20" height="20">
                        <use href="/src/images/svg/symbol-defs.svg#icon-Burger"></use>
                    </svg>
                </button>
                <button class="header-buttons__cta button button--big button--reversed" type="button">
                    Buy now
                    <svg width="6" height="10" class="button__chevron">
                        <use href="/src/images/svg/symbol-defs.svg#icon-Buy"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>