<!-- <section class="hero-left">
    <h1 class="title"> ICE CREAM <br> MADE WITH <br><span class="word"><strong>PASSION</strong></span></h1>
    <button class="button-1">Products</button>
    <button class="button-2">How it's made? </button>
    <img class="cup-of-milk" src="/src/images/hero/milk-header-d.png" alt="Cup of milk"
        style="width: 213px; height: 216px ;">
    <img class="arrow-right" src="/src/images/icons/arrow-right.png" alt="Arrow" style="width: 26px; height:26px">
    <p class="paragraph"> Indulge in a scoop of ice <br>cream made with passion and <br> treat your taste buds to an
        <br> unforgettable experience!
    </p>
</section> -->