<section class="hero-right">
    <div class="container">
        <div class="numbers-elipse-text">
<div class="cafes-group">
    <div class="duo">
    <span class="number">16</span>
    <span class="cafes">cafes</span>
    </div>
    <span class="cafes-elipse"></span>
</div>
<div class="food-group">
    <div class="duo">
    <span class="number">23</span>
    <span class="food">food trucks</span>
    </div>
    </div>
    <span class="food-elipse"></span>
</div>
    <span class="elipse-hero"></span>
<div class="women-pic">
    <img src="/src/images/hero/girl-icecream-d.png" alt="women tasting icecream"/></div>
 <div class="icecream-pic">
    <img src="/src/images/hero/ice-cream-header-d.png" alt="flavoured con icecream"/></div>
    </div>
</section>

