<section class="hero">
    <div class="hero-right">
        <div class=" container">
            <div class="hero-left">
                <div class="title-buttons">
                    <h1 class="title"> ICE CREAM MADE WITH <span class="word">PASSION</span></h1>
                    <a href="#products"> <button type="submit" class="button-1">Products</button> </a>
                    <a href="#howmade"> <button type="submit" class="button-2">How it's made? </button></a>
                </div>
            </div>
            <div class="milk-p-arrow">
                <div class="milk">
                    <img class="cup-of-milk" src="/src/images/hero/milk-header-d.png" alt="Cup of milk">
                </div>
                <div class="p-arrow">
                    <p class="paragraph"> Indulge in a scoop of ice cream made with passion and treat your taste
                        buds to
                        an unforgettable experience! </p>
                    <img class="arrow-right" src="/src/images/icons/arrow-right.png" alt="Arrow">
                </div>
            </div>
        </div>
        <!-- right hero -->
        <div class="cafes-group">
            <div class="duo">
                <span class="number">16</span>
                <span class="cafes">cafes</span>
            </div>
            <span class="cafes-elipse"></span>
        </div>
        <div class="food-group">
            <div class="duo">
                <span class="number">23</span>
                <span class="food">food trucks</span>
            </div>
            <span class="food-elipse"></span>
        </div>

        <div class="elipse-hero"><span></span></div>
        <img class="con" src="/src/images/hero/ice-cream-header-d.png" alt="flavoured con icecream" />
        <img class="women" src="/src/images/hero/girl-icecream-d.png" alt="women tasting icecream" />
    </div>
    </div>
</section>