<section>
    <div class="hero-right">
    <div class="container">
<div class="cafes-group">
    <div class="duo">
    <span class="number">16</span>
    <span class="cafes">cafes</span>
    </div>
    <span class="cafes-elipse"></span>
</div>
<div class="food-group">
    <div class="duo">
    <span class="number">23</span>
    <span class="food">food trucks</span>
    </div>
    </div>
    <span class="food-elipse"></span>
    <div class="elipse-hero"><span></span></div>
<div class="pic">
    <img class="women" src="/src/images/hero/girl-icecream-d.png" alt="women tasting icecream"/>
    <img class="con" src="/src/images/hero/ice-cream-header-d.png" alt="flavoured con icecream"/>
    </div>
    </div>
    </div>
</section>

