<!-- Section How It`s made top part -->
<section id='howmade' class="how-its-made">
    <div class="container">
        <span>TRADITION AND LOVE</span>
        <h2>How it&apos;s made?</h2>
        <div class="how-its-made-style">
            <div class="how-pick">
                <img class="how-its-made-img" src="/src/images/about/how-is-made-cow-d.png"
                    alt="glass of milk and a cow">
            </div>
            <div class="how-its-made-text">
                <p>Ice is a place where you will become not only a little happier, but also healthier. Health is the
                    main
                    value for us, and we follow it when creating our handmade desserts.</p>
                <p>We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be
                    given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15
                    types
                    of coffee and 23 milkshakes.</p>
                <a href="#about"><button class="read-more-btn" type="button">Read more
                        <svg>
                            <use href="/src/images/svg/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>