<section class="review-carousel">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-image">
            <img
              src="/src/images/customer-review/testimonials1-d.png"
              alt="Los Angeles"
              style="width: 85px; height: 85px"
            />
          </div>
          <div class="carousel-text-container">
            <div class="carousel-text">
              <p class="underline-carousel">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
          </div>
          <div class="central-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <h3>Emily, Los Angeles</h3>
        </div>
        <div class="item">
          <div class="carousel-image">
            <img
              src="/src/images/customer-review/photo-review-2-d.png"
              alt="Chicago"
              style="width: 85px; height: 85px"
            />
          </div>
          <div class="carousel-text-container">
            <div class="carousel-text">
              <p class="underline-carousel">
                I never thought I could find such good ice cream on the other
                side of the world. The staff was very friendly and the
                restaurant had a varied range of tastes.
              </p>
            </div>
          </div>
          <div class="central-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <h3>Lilly, Paris</h3>
        </div>

        <div class="item">
          <div class="carousel-image">
            <img
              src="/src/images/customer-review/photo-review-3-d.png"
              alt="New york"
              style="width: 85px; height: 85px"
            />
          </div>
          <div class="carousel-text-container">
            <div class="carousel-text">
              <p class="underline-carousel">
                During my vacation in Los Angeles, I had the opportunity to eat
                one of the tastiest ice creams in the city. The fresh and tasty
                fruits were just what we needed.
              </p>
            </div>
          </div>
          <div class="central-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <h3>Shania, London</h3>
        </div>
      </div>
    </div>
  </div>
</section>
