<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="test-title">TEST ISABELA</h1>
    <header>
      <a>
        <svg>
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <nav>
        <a href="index.html">Home</a>
        <a href="">About us</a>
        <a href="">How it's made?</a>
        <a href="">Our products</a>
        <a href="">Contact</a>
        <a href="">Test</a>
      </nav>
      <button>Buy now</button>
    </header>
  </body>
</html>
